* {
    font-family: 'Oxygen', sans-serif;
}
body {
    background-image: url(../images/fundo.png);
    background-repeat: repeat-x;
    background-position: top center;
}
.site {
    display: block;
    width: 80%;
    margin: auto;
    position: fixed;
    left: 10%;
}

#logo-brasil {
    position: absolute;
    position: absolute;
    right: 0em;
    width: auto;
    height: 150px;
    margin-top: 10px;
    z-index: -1;
}
.logo-barra {
    border: 3px green solid;
    position: absolute;
    margin-top: 1em;
}
#menu-barra {
    background-color: brown;
    width: 850px;
    height: 2em;
    margin-top: 3em;
    text-align: center;
    line-height: 2em;
    border: 2px rgba(112, 33, 33, 0.558) solid;
    z-index: 2;
}
#menu-barra ul {
    font-size: 1.5em;
    display: flex;
    max-width: fit-content; 
    margin: auto;
}
#menu-barra ul {
    display: flex;
    max-width: fit-content;    
}
#menu-barra a {
    padding: 6px 25px;
    text-decoration: none;
    color: white;
}
#menu-barra a:hover {
    border-left: 2px rgba(112, 33, 33, 0.558) solid;
    border-right: 2px rgba(112, 33, 33, 0.558) solid;
    background-color: rgb(100, 24, 24);
}
.body {
    border: 0px 1px blue solid;
    padding: 15px;
    margin: 5px;  
}
.body .context {
    border: 0px 1px blue solid;
    padding: 15px;
    margin: 5px; 
}
.botton {
    display: flexbox;
    position: fixed;
    bottom: 0px;
    width: max-content;
    border: 1px blue solid;
    padding: 15px;
}
