* {
    font-family: 'Oxygen', sans-serif;
}
body {
    background-image: url(../images/fundo.png);
    background-repeat: repeat-x;
    background-position: top center;
}
a, a:visited {
    text-decoration: none;
    color: white;
}
.menu-logo {
    display: flex;
    position: relative;
    right: auto;
    margin: auto;
    justify-content: space-between;
    max-width: 70%;
}
.logo-barra {
    display: block;
    margin-top: 1em;
}
#menu-barra ul {
    display: flex;
    margin-top: 1.1em;
    line-height: 2em;
    font-size: 1.5em;
}
#menu-barra ul li {
    padding: 0em 5%;
    background-color: rgb(164, 16, 16);
    border: 1px rgb(253, 0, 0) solid;
    border-style: outset;
    z-index: 2;
    max-width: max-content;
}
#menu-barra ul li:hover {
    background-color: rgb(188, 5, 5);
    transform: scale(1.2);
}
.body { 
    border: 1px red solid;
    margin: 5% 10%;
    padding: 0.2em;
    display: flex;
}
.titulo {
    background-color: rgb(18, 87, 161);
    border: 1px red solid;
    color: white;
}
.context {
    border: 1px red solid;
    margin: 1%;
    padding: 2px;
}
a.entrevistas:link, a.entrevistas:hover, a.entrevistas:visited {
    text-decoration: none;
    color: black;
    padding: 1px;
    margin: auto;
}
.last-news {
    border: 1px red solid;
    margin: 1%;   
}


.content {
    border: 1px red solid;
    margin: 1%;
    padding: 10%;
    width: 89%;
}
