* {
    font-family: 'Oxygen', sans-serif;
}
body {
    background-image: url(../images/fundo.png);
    background-repeat: repeat-x;
    background-position: top center;
}
.site {
    display: block;
    width: 80%;
    margin: auto;
}
.head {
    border: 1px red solid;
    padding: 10px;
    margin: 5px;
    margin-bottom: 90px;
}
.menu-logo {
    display: block;
    border: 1px yellow solid;
}
#logo-brasil {
    position: absolute;
    float: right;
    padding-right: 15%;
    width: auto;
    height: 150px;
    margin-top: 10px;
    margin-right: 5em;
    z-index: -1;
}
.logo-barra {
    border: 3px green solid;
    float: left;
}
#menu-barra {
    float: ;
    background-color: brown;
    width: 950px;
    height: 2em;
    margin-top: 3em;
    text-align: center;
    line-height: 2em;
    border: 2px rgba(112, 33, 33, 0.558) solid;
    z-index: 2;
}
#menu-barra ul {
    font-size: 2em;
    display: flex;
    max-width: fit-content; 
    text-align: center;  
    text-indent: 0.4em;
}
#menu-barra ul {
    display: flex;
    max-width: fit-content;    
}
#menu-barra a {
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    
}
#menu-barra a:hover {
    border-left: 2px rgba(112, 33, 33, 0.558) solid;
    border-right: 2px rgba(112, 33, 33, 0.558) solid;
    background-color: rgb(100, 24, 24);
}
.body {
    border: 0px 1px blue solid;
    padding: 15px;
    margin: 5px;
    
}
.botton {
    display: flexbox;
    position: fixed;
    bottom: 0px;
    width: max-content;
    border: 1px blue solid;
    padding: 15px;
}
