/*
* 
* @author Marcos Freitas
*/


#logo {
    width: 40px;
}
#nav-bar {
    width: 100vw;
}
#text-logo {
    margin-top: -4em;
    font-size: 6em;
    font-weight: 500;
    color: #ff764d;
}
#yellow-back {
    background-color: 
    #fbffa7;
}