/*
* 
* @author Marcos Freitas
*/


#logo {
    width: 40px;
}
#nav-bar {
    width: 100vw;
}
#text-logo {
    margin-top: -5em;
    font-size: 6em;
    font-weight: 500;
    color: #ff764d;
}
#yellow-back {
    background-color: 
    #fbffa7;
}
#img-square {
    width: auto;
    margin: auto;
    padding: 75px;
}
#img-cont1 {
    margin-right: -80px;
    z-index: 2;
    border-radius: 2px;
}
#green-block {
    background-color: #b6ffc0;
    margin-left: 5em;
}
#green-block img {
    margin: auto;
    padding: 3em;
    width: 30vw;
}
#ab7 {
    margin-left: -10em;
}
#bg-pink {
    background-color: #d5b3ff;
    justify-content: space-between;
    height: 70em;
}
#img-8 {
    margin-right: -25em;
    width: 80%;
}
#img-9 { 
    margin-left: -10em;
    width: 40%;
}
#bg-blue {
    background-color: #b1c5ff;
}
h1 {
    font-size: 2.8em;
}
h3 { 
    font-size: 2.5em;
}
p {
    font-size: 1.5em;
}
footer a, footer a:hover, footer a:active {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    text-transform: inherit;
}
