.cabecalho {
    background-color: #f7b600;
	padding: 15px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo, #menu {
    padding: 10px;
    color: white;
}
#titulo {
    font-size: 2.5em;
}
.gray {
    color: gray;
}
a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

.cabecalho a:link, .cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

.cabecalho a:hover {
	color: #f7b600;
	background: #FFF;
	text-decoration: none;
    border-radius: 10px 0px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
.bloco-noticias {
    width: 660px;
    margin: 0 auto;
    padding: 15px;
}
.noticia {
    background-color: rgb(249, 245, 241);
    padding: 10px 5px;
    margin: 10px 0px;
}
.noticia li {
    padding: 5px;
    margin: 2px;
}
.noticia h1 {
    font-size: 2.5em;
    font-weight: 400;
    color: grey;
}
.noticia .data {
    margin: 5px;
    font-size: 0.8em;
    color: grey;
}
.noticia img {
    max-width: 640px;
    margin: 15px 0px;
}
.pub {
    width: calc(920px - 680px);
    padding: 15px 0px;
}
.pub-block {
    background-color: rgb(249, 245, 241);
    padding: 10px 5px;
    margin: 10px 0px;
}
.titulo-pub {
    font-size: 1.5em;
    font-weight: 400;
}
.content-pub {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
.content-pub p {
    margin: 3px 0px 5px 0px;
}
.content-pub a {
    margin: 3px 0px 3px 0px;
}
.botton h3{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.botton p {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    padding: 0px 0px 10px 0px;
}