body {
    background-color: aliceblue;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
}
.cabecalho {
    background-color: rgb(255, 227, 45);
    width: 100vw;
    height: 90px;
    padding: 0px 0px 10px 0px;
    }
#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: aliceblue;
}
.branco {
    color: white;
}
.gray {
    color: rgb(58, 56, 56);
}
.cabecalho .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.cabecalho .menu a {
    padding: 0px 20px;
    color: white;
    font-size: 20px;
}
.content {
    
    margin: 10px 4px;
    display: flex;
    justify-content:space-around;
}
.content .noticia {
    background-color: rgb(255, 255, 255);
    margin: 2px;
    padding: 15px;
    text-align: justify;
    width: 60%;
}
.content .noticia img {
    width: 420px;
}
div .pub {
    width: 30%;
    display: block;
    justify-content: center;
}
.pub div {
    padding: 10px 0px;
    margin: 7px;
    background-color: rgb(255, 255, 255);
}
.pub .titulo-pub {
    background-color: gray;
    font-size: 19px;
    font-weight: 700;
    padding: 5px;
}
.pub div a {
    display: block;
    justify-items: center;
}
.botton h3 {
    display: flex;
    justify-content: center;
}
.botton p {
    display: flex;
    justify-content: center;
    font-size: 10px;
}