html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            }
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
            }
        body {
            line-height: 1;
            }
        ol, ul {
            list-style: none;
            }
        blockquote, q {
            quotes: none;
            }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
            }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            }
        body,html {
            margin:0;
            padding:0;
            }
/* Reset all */


/*
* 
* @author Marcos Freitas
*/
html { 
    font-family: 'Raleway', sans-serif;
}




.opacity { 
    opacity: 0.6;
    border-radius: 10px;
}
.logos {
    text-align: center;
    font-size: 2.5em;
    line-height: 100%;
    vertical-align: middle;
}
.logos div { 
    line-height: 1em;
    width: 50%;
}
.logos div:hover  { 
    background-color: azure;
    border-radius: 10px;
    color: black;
}
.bg-glass {
    background: linear-gradient(180deg, rgba(251, 247, 247, 0.55) 0%, rgba(252, 252, 252, 0.73) 90%, rgba(118, 115, 115, 0.56) 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border:3px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(250, 249, 249, 0.37);
    padding: 8px 20px;
    color: black;
    width: 50%;
    margin: auto;
}
.carousel-inner {
    border-radius: 15px;
}
@media (min-width: 768px )
{
    #filters
    {
        display: block;
    }
    #read-more {
        display: none;
        border-radius: 5px;
    }
    #filters2
    {
        display: block;
    }
    #read-more2 {
        display: none;
    }
    .d-md-none {
        display: none;
    }
}

